.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
   background-color: hsl(212, 45%, 89%);
   box-sizing: border-box;
   font-family: 'Outfit', sans-serif;
}

.container{
   height: 100%;
   width: 350px;
   background-color: hsl(0, 0%, 100%);
   margin: 150px auto;
   border-radius: 20px;
   text-align: center;
   
}

.qr-code img{
   width: 90%;
   border-radius: 14px;
   margin: 4% 0%;
}

.text-holder{
   width: 80%;
   margin: 0 auto;
   padding-bottom: 25px;
}

#bold{
   font-weight: 700;
   font-size: 1.5em;
}

#regular{
   font-weight: 200;
}